h1{
    text-align: center;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

nav{
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

p{
    color:white;
}

.effect:hover{
    color: #0a5dc8;
}

.foto-me{
    width: 350px;
    border-radius: 15px;
}

.about-me{
    width: 320px;
    text-align: center;
}

.about-foto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
    margin-top: 20px;
}

body{
    background-image:url(images/dj.jpg);
    background-color: black;
    height: 400px;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}

.vgd {
    display: flex;
    justify-content: left;
    align-items: center;
}

header{
    display:flex;
    align-items:center;
    justify-content: center;
}

img{
    width: 100px;
    height: 100px;
}
.img-me{
    display: flex;
    flex-direction: row;
}

.center{
    display: block;
    margin-left: auto;
}

#img-me{
    width: 200px;
    height:200px ;
    display: flex;
    justify-content: space-around;
}

.flex-contain{
    display: flex;
    margin: 20px;
}
.socials-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    margin-top: 0px;
}
.contact{
    background-color: rgba(0, 0, 0, 0.750);
    border: 2px solid white;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    width: 300px;
    margin: 0 auto;
}
.socials{
    background-color: rgba(0, 0, 0, 0.499);
    border: 2px solid white;
    border-radius: 70px;
    padding: 0px;
    text-align: center;
    width: 330px;
    margin: 0 auto;
}
.polaroid {
    background-color: #000000a8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    border-radius: 25px;
}
.container{
    text-align: center;
}
.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    flex-direction: row;
    gap: 50px;
    margin-top: 35px;
}
.img-polaroid{
    width: 400px;
    height: 225px;
    border-radius: 45px;
    border: 2px solid white;
   
}
.ervaring{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: row;
    gap: 200px;
}

table{
    color: white;
    text-align: center;
    width: 500px;
    height: 250px;
}
thead{
    height: 50px;
}
th{
    background-color: #87850366;
}
td{
    border: 1px solid #ffed9f80;
}
video{
    width: 400px;
  
}
.contact-form {
    width: 100%;
    text-align: center;
    
}
.contact-form h2 {
    margin-bottom: 15px;
    color: white;
}
.contact-form label {
    font-size: 0,8;
    color: white;
}
.contact-form input,
.contact-form textarea {
    width: 86%;
    margin : 3 0px;
    border : 1 solid #ddd;
    border-radius:5;

}
.contact-form button {
    padding: 10px 15px;
    color: #fff;
    background-color: rgba(180, 180, 180, 0.499);
    border: none;
    border-radius: 75px;
    transition: color 500ms;
    align-items: center;
    
}
.contact-form button:hover {
    background-color: rgb(0, 110, 176);
}
.interview{
display: flex;
justify-content: center;
align-items: center;
max-height: 100vh;
}